.a{
    height: fit fit-content;
    display: flex;
   
}
.a1{
    width: 99%;
    height: 65vh;
    border: 2px solid rgb(132, 132, 132) ;
    border-radius: 20px 20px 30px 30px;
}
.tmenu{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    height: 35px;
    top: 0%;
    z-index:9996;
    background-color: rgba(255, 255, 255, 0.447);
}

.tog{    
    width: 50px;
    height: 25px;
    display: flex;
    border-radius: 50px;
    position:fixed; 
    z-index: 9999;
    align-items: center;
    margin-top: 2px;
    margin-right: 10px;
}

.p1{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    font-weight: 500;
}

.p2 {
    margin-left: 150px;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
}

.p3 {
    margin-right: 80px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
}

.abwrapper {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.abwrapper1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    height: 100%;
}

.a-right{
    flex: 1;
}

.a-right1{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
    height: 100%;

}

.a-card{
    width: 60%;
    height: 60%;
    position: relative;
    border: 2px solid #333;
    border-radius: 50px;
    left: 0px;
    overflow: hidden;
    background-image: url(../../images/precious1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.a-left1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    height: 100%;
    margin-top: 0;
    padding: 0;
}

.a-card1{
    width: 65%;
    height: 65%;
    position: relative;
    border: 2px solid rgb(192, 1, 179);
    border-radius: 50%;
    left: 0px;
}

.cardimg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

img .a-img {
    width: 100%;
    height: 100%;
}

.a-img{
    width: 88%;
    height: 70vh;
    object-fit: cover;
}

.a-award-img{
    width: 160px;
    height: 120px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 3px black);
}

.a-title{
    color: rgb(192, 1, 179);;
    font-weight: 400;
}

.a-sub{
    width: 98%;
    margin: 20px 0px;
}
.a-sub1{
    width: 98%;
    margin: 20px 0px;
}

.a-desc{
    width: 98%;
    font-weight: 400;
}
.a-desc1{
    width: 98%;
    font-weight: 400;
}

.a-award-wrapper{
    width: 750px;
    overflow: hidden;
}

.a-award-ani{
    display: flex;
    justify-content: space-between;
    animation: moves 40s ease-in-out infinite alternate;
}

.a-award{
    width: 800px;
    height: 150px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}

.a-award-title{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.a-award-desc{
    width: 600px;
}

.a-award-text{
    width: 75%;
}

@keyframes moves {
    5%{
        transform: translateX(-800px);
    }
    10%{
        transform: translateX(-1600px);
    }
    15%{
        transform: translateX(-2450px);
    }
}

@media screen and (max-width:480px) {
    .a{
        flex-direction: column;
        text-align: center;
    }

    .a1 {
        width: 100%;
        height: fit-content;
    }

    .a-left{
        margin-top: 7%;
        position: absolute;
        width: 100%;
        height: 200px;
    }

    .a-cardbg{
        display: none;
    }

    .a-card{
        width: 200px;
        height: 200px;
        padding: 0px;
        margin: 0px;
        top:0;
    }

    .a-img{
        width: 200px;
        height: 200px;
    }

    .a-award-wrapper{
        display: none;
    }

    .abwrapper1 {
        display: flex;
        height: 500px;
        align-items:center;
        flex-direction: column;
        text-align: center;
        padding-top: 0px;
    }
    .a-left1 {
        height: 50%;
        width: 100%;
        margin: 0%;
        margin-top: 5px;
        padding: 0%;
    }

    .a-card1{
        width: 60%;
        height: 100%;
    }

    .a-right{
        height: 60%;
        padding: 20px;
        overflow: hidden;
        margin-top: 200px;
    }

    .a-sub{
        font-size: 13px;
        text-align: justify;    
    }

    .a-desc{
        font-size: 13px;
        text-align: justify;    
    }
    .a-right1{
        height: 150px;
        padding: 20px;
    }

    .a-title {
        font-weight: 600;
    }

    .a-sub1{
        font-size: 13px;
        text-align: justify;
        margin: 10px 0px;    
    }

    .a-desc1{
       display: none;
    }
}
